@page "/"
@rendermode InteractiveWebAssembly
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Http
@inject NavigationManager navigation

<div class="form-group">
	<label>
		UserName:
		<input @bind="userNameInput" />
	</label>	
	<label>@errmsg</label>
</div>
<div>
	<label>Server:</label>
	<select @bind="serverName" class="form-select" aria-label="Default select example">
		<option selected value="One">One</option>
		<option value="Two">Two</option>
		<option value="Three">Three</option>
	</select>
</div>

<button @onclick="SendName">Send</button>


@code {
	private string userNameInput;
	private string serverName = "One";
	private string errmsg;

	void SendName()
	{
		if(userNameInput == string.Empty)
		{
			errmsg = "Name must be not null";
			StateHasChanged();
		}
		PlayerNameContainer.PlayerName = userNameInput;
		PlayerNameContainer.Server = serverName;

		navigation.NavigateTo("game");
	}
}
